* {
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
body {
background-color:rgb(240, 226, 226);
filter: drop-shadow(0 0 0.75rem gray);
}
main {
background-color: white;
border-radius: .45rem;
max-width: 900px;
margin: auto;
padding: 3rem .65rem 1rem .65rem;
}
header {
text-align: center;
padding: .25rem;
}

label {
font-size: 20px;
font-weight: bolder;
margin-bottom: 8px;
}

input[type="text"], textarea, select {
width: 100%;
border: 1px solid black;
border-radius: .25rem;
margin-bottom: 1rem;
padding: .45rem;
}
#mailing-list {
	accent-color: rgb(94, 168, 91);
}
.top form {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

@media (max-width: 760px) {
	.top form {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 420px) {
	.top form {
		grid-template-columns: 1fr;
	}
}
.middle {
    display: inline;
}
.field {
display: flex;
flex-direction: column;
}



.bottom label {
	display: inline-block;
	margin-right: 0.5rem;
	margin-bottom: .25rem;
}
.bottom .radio-row {
	display: inline-flex;
	gap: 0.5rem;
	align-items: last baseline;

}
#submit-button {
background-color: rgb(94, 168, 91);
color: white;
border: none;
border-radius: .25rem;
padding: .75rem 1.5rem;
}
.email-format {
	display: none;
}
.err {
	color: red;
	display: none;

}